.App {
  text-align: center;
  overflow: hidden;
  font-family: 'Raleway';
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Meyer reset styles (global) */

/* Your other global styles */

/* .rich-text styles (specific) */
.rich-text {
	/* Reset margin and padding for all elements within the container */
	margin: 0;
	padding: 0;
  
	/* Override Meyer reset styles for specific elements */
	font-weight: inherit; /* Keep bold styles */
	font-style: inherit; /* Keep italic styles */
  
	/* Lists */
	.rich-text ul, .rich-text ol {
	 
	  list-style:circle; /* Keep list styles */
	  list-style-position: inside;
	  margin: 0; /* Reset margin for lists */
	  padding: 0; /* Reset padding for lists */
	}


	.rich-text strong{
		font-weight: 800;
	}
	.rich-text em{
		font-style: italic;
	}
  
	/* Headers */
	.rich-text h1, .rich-text h2, .rich-text h3, .rich-text h4, .rich-text h5, .rich-text h6 {
	  /* Reset heading-specific styles */
	  font-size: 50pt; /* Keep font size */
	  font-weight: 800; /* Keep font weight */
	}
  
	/* Add more specific overrides as needed */
  
	/* Example: You can add more specific overrides for links if needed */
	.rich-text a {
	  text-decoration: underline; /* Keep link underlines */
	  color: blue; /* Keep link color */
	}
  }
  